*{
    background: white;
    padding: 0%;
}

.container-fluid{
    padding: 1%;
}

a span{
    background: #3a96ff;
    color:white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}